@keyframes stretchAnimation {
  0% {
    letter-spacing: .1em;
  }
  100% {
    letter-spacing: .3em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#canvas1 {
  background: linear-gradient(rgb(28, 115, 228) 0%, rgb(0, 10, 70) 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.flex {
  display: flex;
}

.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topbar {
  /* width: 100%; */
  z-index: 3;
  position: relative;
  justify-content: right;
}

.button {
  padding-right: 10px;
  padding-top: 30px;
}

/* .content-divider {
  padding-left: 8px;
  padding-right: 14px;
  font-size: 25px;
  padding-top: 25px;
} */

/* .discordtxt {
  padding-left: 8px;
  padding-right: 30px;
  padding-top: 30px;
  text-shadow: 0px 0px 12px black;
} */

.discordicon {
  width: 40px;
  /* padding-top: 30px;
  padding-right: 30px; */
  margin-top: 30px;
  margin-right: 30px;
}


.landingtxt {
  width: 100%;
  padding-top: 170px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  position: relative;
  z-index: 3;
  font-size: 2em;
  letter-spacing: .1em;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 3px 13px #000;

}

header:hover {
  animation: stretchAnimation 1s ease-in-out infinite alternate;
}

.newdiv {
  padding-top: 10px;
  color: black;
  z-index: 2;
}

p {
  color: white;
  /* position: absolute; */
  position: relative;
  z-index: 3;
}

.music {
  position: relative;
  background-color: #424242;
  /* opacity: 0.5; */
  border-radius: 7px;
  height: 200px;
  min-width: 300px;
  /* max-width: 800px; */

  padding-left: 325px;
  padding-right: 325px;

  /* margin-left: 33%;
  margin-right: 33%; */
  margin-top: 100px;
  opacity: 0.8;
  z-index: 3;
}

@media (max-width: 900px) {
  .music {
    padding-left: 36vw;
    padding-right: 36vw;
    background-color: aliceblue;
  }
}

ul {
  display: inline;
  position: relative;
}

li::marker {
  color: white;
}
